.ros-prompt-input input {
    margin: -0.5em 0 0.5em 0;
}

.ros-prompt-row {
    font-size: 1rem;
    margin: 0.5rem;
}

.ros-prompt-button {
    font-size: 200%;
    min-width: 2em;
    margin: 0.1em;
    padding: 0.5rem;
}

.ros-prompt-button[value="Space"] {
    /* hide the word "Space" but show the button */
    color: transparent;
    width: 12em;
}

.ros-prompt-button[value="nil"] {
    /* hide the button (useful for centering a row) */
    visibility: hidden;
}

.ros-prompt-button[value="Enter"] {
    min-width: 5em;
    background: darkgreen;
    color: white;
}
